{% extends "layout.html" %}



{% block title %}
SharinganPlaying
{% endblock %}

{% block styles %}
    .main {
        background-image:
            url('https://avatars.mds.yandex.net/get-pdb/1325464/af3a64fb-ad90-4918-80b3-56f9ba5230b2/orig');
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* background-size: cover; */
        /* height: 100%; */
        z-index: 10;
        background-position: center;
        background-size: 400px 400px;
        padding-top: 100px;

    }
{% endblock %}

{% block contents %}

<div class="main" id="fullheight">
 
 <br><br>
 <CENter>
     <h1 style="color:rgb(40, 17, 172);">ZDAROVA, ETO SUPER-PUPER-PUPER-TURBO-PUSHKA-PRILOZHUHA</h1> <br>
 </CENter>
</div>
 

{% endblock %}
